{% extends 'base.html.twig' %}

{% block title %}Mon compte - New World Symfony Shop{% endblock %}

{% block content %}
<h1>Mon compte</h1>
    <div>Bonjour {{ app.user.firstName }} ! Bienvenue dans votre compte, c'est dans cet espace que vous allez
        pouvoir gérer toutes vos informations personnelles.</div>

{#    todo: modifier le mot de passe / ajouter des adresses / mes commandes#}
    <ul>
        <li><a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a></li>
    </ul>
{% endblock %}
