{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Mon compte{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Modifier mon mot de passe</h1>
    {% if notification %}
        <div class="alert alert-{{ color }}">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
</div>
{% endblock %}
