{% extends 'base.html.twig' %}

{% block title %}Se Connecter - New World Symfony Shop{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
    <label for="inputEmail">Votre email</label>
    <input
            type="email"
            value="{{ last_username }}"
            name="email" id="inputEmail"
            class="form-control"
            autocomplete="email"
            placeholder="Votre email"
            required autofocus>
    <label for="inputPassword" class="mt-3">Votre mot de passe</label>
    <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            autocomplete="current-password"
            placeholder="Votre mot de passe"
            required >

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary mt-3" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
